# Project-specific excludes
config
/local_chart_folder
!examples/*
/dump
ansible-inventory.ini
admin.conf
account-tokens.yaml
cluster_finalized.yaml
ca.csr
ca.pem
ca-key.pem
kubernetes.csr
kubernetes.pem
kubernetes-key.pem
/cluster.yaml
/additional.yaml
/procedure.yaml
venv/
build/
dist/
kubecheck
kubecheck.zip
report.*
*.tar
*.tar.gz
*.log

# System & software trash
*~
.idea/
*.iml
*.zip
*.komodoproject
.loadpath
.project
*.pyc
.pydevproject
*.pyo
*.config_oc.yaml
*.redcar*
.*.swp
.sass-cache
.rvmrc
.DS_Store
.vagrant
.tags*
*.retry
.vscode/
.cache
.tox/
.coverage
*.egg-info
.eggs
/Roadmap*
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
