---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ storage_name }}
  namespace: kube-system
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ storage_class }}
  resources:
    requests:
      storage: {{ storage_size }}
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: etcd-backup
  namespace: kube-system
spec:
  concurrencyPolicy: Allow
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - args:
            - |
              etcdctl --endpoints=https://127.0.0.1:2379 --cacert=/etc/kubernetes/pki/etcd/ca.crt --cert=/etc/kubernetes/pki/etcd/healthcheck-client.crt --key=/etc/kubernetes/pki/etcd/healthcheck-client.key snapshot save /backup/etcd-snapshot-$(date +%Y%m%d_%H%M%S)_${RANDOM}.db
              chmod 0644 /backup/*.db
            command:
            - /bin/sh
            - -c
            env:
            - name: ETCDCTL_API
              value: "3"
            image: {{ etcdctl_image }}
            imagePullPolicy: IfNotPresent
            name: backup
            resources: {}
            terminationMessagePath: /dev/termination-log
            terminationMessagePolicy: File
            volumeMounts:
            - mountPath: /etc/kubernetes/pki/etcd
              name: etcd-certs
              readOnly: true
            - mountPath: /backup
              name: backup
          - args:
            - |
              find /backup -type f -mmin +{{ retention }} -name '*.db' -exec rm -- '{}' \;
            command:
            - /bin/sh
            - -c
            image: {{ busybox_image }}
            imagePullPolicy: IfNotPresent
            name: backup-purge
            volumeMounts:
            - mountPath: /backup
              name: backup
          dnsPolicy: ClusterFirst
          hostNetwork: true
          nodeSelector:
            kubernetes.io/hostname: {{ hostname }}
          restartPolicy: OnFailure
          schedulerName: default-scheduler
          securityContext: {}
          terminationGracePeriodSeconds: 30
          tolerations:
          - effect: NoSchedule
            operator: Exists
          volumes:
          - hostPath:
              path: /etc/kubernetes/pki/etcd
              type: DirectoryOrCreate
            name: etcd-certs
          - name: backup
            persistentVolumeClaim:
              claimName: {{ storage_name }}
  schedule: "{{ schedule }}"
  successfulJobsHistoryLimit: 3
  suspend: false
