[Unit]
Description=Create zram mount for path {{ path }}
DefaultDependencies=no
Before=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=/bin/bash -c '! zramctl -o MOUNTPOINT --noheadings | grep -x {{ path }}' 
ExecStart=/bin/bash -c 'modprobe zram; mkdir -p {{ path }}; device=$(zramctl --find --size {{ size }} --algorithm zstd); mkfs.ext4 -m 0 -O ^has_journal -F $device; mount $device {{ path }}'

[Install]
WantedBy=local-fs.target
