---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: front-end
  namespace: sock-shop
spec:
  rules:
  - host: {{ cluster_name }}
      http:
      paths:
      - path: /
        pathType: Prefix
        backend:
           service:
             name: front-end
             port:
              number: 80
