---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: front-end
  namespace: sock-shop
spec:
  rules:
  - host: {{ cluster_name }}
    http:
      paths:
      - path: /
        backend:
          serviceName: front-end
          servicePort: 80
