name: Build Artifacts
on:
  push:
    branches:
      - '**'
jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Build Docker Image
        run: docker build -t kubemarine --no-cache .
  build-binary:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Build Binary via Docker
        run: |
          docker build -t ${GITHUB_RUN_ID}_binary --build-arg BUILD_TYPE=binary --no-cache .
          CONTAINER_ID=$(docker create "${GITHUB_RUN_ID}_binary")
          docker cp "${CONTAINER_ID}:/opt/kubemarine/kubemarine" kubemarines
          chmod +x kubemarines
          docker rm -v "${CONTAINER_ID}"
        uses: actions/upload-artifact@v3
        with:
          name: kubemarines
          path: kubemarines


  build-package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2.2.2
      - name: Install Dependencies
        run: python3 -m pip install --upgrade pip
      - name: Prepare Setuptools
        run: python3 -m pip install wheel setuptools build
      - name: Build Kubemarine Package
        run: python3 -m build -n
