name: Build Artifacts
on:
  push:
    branches:
      - '**'
jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Build Docker Image
        run: docker build -t kubemarine --no-cache .
  build-binary:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Build Binary via Docker
        run: |
          docker build -t ${GITHUB_REPOSITORY#*/}_binary --build-arg BUILD_TYPE=binary --no-cache .
          CONTAINER=$(docker create "${GITHUB_REPOSITORY#*/}_binary")
          docker cp "${CONTAINER}:/opt/kubemarine/dist/kubemarine" kubemarine
          chmod +x kubemarine
          docker rm -v "${CONTAINER}"

  build-package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2.2.2
      - name: Install Dependencies
        run: python3 -m pip install --upgrade pip
      - name: Prepare Setuptools
        run: python3 -m pip install wheel setuptools build
      - name: Build Kubemarine Package
        run: python3 -m build -n
