name: Publish to PyPI
on:
  release:
    types: [released]
jobs:
  pypi:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch Package
        uses: dsaltares/fetch-gh-release-asset@1.1.0
        with:
          version: ${{ github.event.release.id }}
          file: 'package.zip'
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Unpack Package
        run: unzip package.zip
      - name: Publish Package
        uses: pypa/gh-action-pypi-publish@v1.20.0
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
