name: Tests and Validations
on:
  push:
    branches:
      - '**'
env:
   COPYRIGHT_COMPANY: 'NetCracker Technology Corporation'
   COPYRIGHT_YEAR: '2021-2022'
jobs:
  license:
     runs-on: ubuntu-latest
     steps:
       - uses: actions/checkout@v2
       - run: docker run -v "${PWD}:/src" -i ghcr.io/google/addlicense -v -c "${{ env.COPYRIGHT_COMPANY }}" -y "${{ env.COPYRIGHT_YEAR }}" $(find . -type f -name "*.py" | xargs echo)
       # This currently not works for protected branches,
       # but all pushes to them should be done through PRs that already contain inserted license.
       - uses: stefanzweifel/git-auto-commit-action@v4
         with:
           commit_message: Auto-update license header
  selftest-docker:
    needs: license
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: docker build -t kubemarine --no-cache .
      - run: docker run kubemarine selftest
  selftest-binary:
    needs: license
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: PyInstaller amd64
        id: amd64
        uses: action-python/pyinstaller-py3.8@amd64
        with:
          path: ./
          requirements: "./requirements.txt"
      - run: ls -la
  unit-tests:
    needs: license
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: docker build -t kubemarine --build-arg BUILD_TYPE=test --no-cache .
      - run: docker run --entrypoint=python3 kubemarine -m unittest discover -s /opt/kubemarine/test/unit -t /opt/kubemarine/test/unit
  coverage:
    needs: license
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: docker build -t kubemarine --build-arg BUILD_TYPE=test --no-cache .
      - run: docker run --entrypoint=/bin/bash kubemarine -c "python3 /usr/local/bin/coverage run -m unittest discover -s /opt/kubemarine/test/unit -t /opt/kubemarine/test/unit; python3 /usr/local/bin/coverage report -m" > /tmp/report.txt
      - run: cat /tmp/report.txt; PERCENTAGE=$(cat /tmp/report.txt | tail -1 | awk '{print $4}' | tr -dc '0-9')
  linter:
    needs: license
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: docker build -t kubemarine --build-arg BUILD_TYPE=test --no-cache .
      - run: docker run --entrypoint=/bin/bash kubemarine -c "/usr/local/bin/pylint kubemarine test --disable fixme || exit 0"
